<!DOCTYPE html>
<html>
  <head>
    <title>password reset carSPICE</title>
    <style>
      p {
        color: black;
        text-decoration: none;
        font-size: 12px;
        margin: 2px;
      }
      .link-url-futoor{
        text-decoration: none;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <img
        src="https://prolinkinfotech.com/wp-content/uploads/2023/04/cropped-PNG-01.png"
        alt="carspice logo"
        style="margin: 50px 0px; width: 250px"
      />
    </div>
    <p>Dear user,</p>

    <p>
      You have successfully changed your password for the account associated
      with this email. If you have not changed your password, please contact the
      organization admin for the carSPICE tool.
    </p>

    <h6
      style="margin: 50px 0px; font-size: 15px; font-weight: 500; color: black"
    >
      Your CARNIQ Service Team
    </h6>

    <div style="text-align: center; border-bottom: 1px solid lightgray; border-top:1px solid lightgray;">
      <div style="padding: 25px 0px;">
      <a href="#" class="link-url-futoor" style="color: black">Legal notice</a>
      <br />
      <a href="#" class="link-url-futoor" style="color: black">Data protection policy</a>
      <br />
      <a href="#" class="link-url-futoor" style="color: black">Contact</a>
      <p>CARNIQ Technologies GmbH</p>
      <p>© Copyright <%= new Date().getFullYear() %> All rights reserved.</p>
    </div>
    </div>
  </body>
</html>
